body
{
  color: white;
  background: rgb(170, 43, 64);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 6px bold, black;
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: rgb(15, 15, 7);
}


 